#### Bag of Words

In [4]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [12]:
sentence_1="The quick brown fox jumps over the lazy dog."
sentence_2="The cat chases the mouse and it squeaks loudly."

In [13]:
tokens = word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower())

In [14]:
tokens = set(tokens)

In [15]:
df = pd.DataFrame({
}, index=[1,2], columns=list(tokens))

In [21]:
df;

In [17]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())

In [18]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]

In [19]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2

In [20]:
df

,and,chases,brown,.,loudly,the,quick,it,lazy,mouse,over,dog,squeaks,fox,cat,jumps
1,0,0,1,1,0,2,1,0,1,0,1,1,0,1,0,1
2,1,1,0,1,1,2,0,1,0,1,0,0,1,0,1,0

The quick brown fox jumps over the lazy dog.

The cat chases the mouse and it squeaks loudly.

#### Count Vectorizer

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [25]:
cv = CountVectorizer()

In [26]:
vect_data = cv.fit_transform([sentence_1, sentence_2])

In [27]:
vect_data

<2x15 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [28]:
vect_data.toarray()

array([[0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 2],
       [1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 2]])

In [29]:
cv.get_feature_names_out()

array(['and', 'brown', 'cat', 'chases', 'dog', 'fox', 'it', 'jumps',
       'lazy', 'loudly', 'mouse', 'over', 'quick', 'squeaks', 'the'],
      dtype=object)

In [30]:
df = pd.DataFrame(vect_data.toarray(), 
                  columns= cv.get_feature_names_out())

In [31]:
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the
0,0,1,0,0,1,1,0,1,1,0,0,1,1,0,2
1,1,0,1,1,0,0,1,0,0,1,1,0,0,1,2

In [32]:
sentence_3 = 'The lazy cat jumps over the quick dog.'

In [35]:
new = cv.transform([sentence_3]).toarray()

In [36]:
new

array([[0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 2]])

#### From local drive

In [43]:
file = open('/home/mitu/india.txt')
text = file.readlines()

In [44]:
vect_data = cv.fit_transform(text)

In [45]:
df = pd.DataFrame(vect_data.toarray(), 
                  columns= cv.get_feature_names_out())
df

,1947,2023,and,andaman,arabian,area,as,asia,bangladesh,bay,...,southwest,sri,thailand,the,time,to,vicinity,west,with,world
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,1,1,0,0,1,1,0,0,0,...,0,0,0,4,1,0,0,0,0,1
2,0,0,4,0,1,0,0,0,1,1,...,1,0,0,9,0,3,0,1,1,0
3,0,0,3,1,0,0,0,0,0,0,...,0,1,1,3,0,0,1,0,1,0