In [1]:
sentence_1="The quick brown fox jumps over the lazy dog."
sentence_2="The cat chases the mouse and it squeaks loudly."

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
cv = CountVectorizer(ngram_range=(1,2))

In [8]:
x_vect = cv.fit_transform([sentence_1, sentence_2])

In [9]:
cv.get_feature_names_out()

array(['and', 'and it', 'brown', 'brown fox', 'cat', 'cat chases',
       'chases', 'chases the', 'dog', 'fox', 'fox jumps', 'it',
       'it squeaks', 'jumps', 'jumps over', 'lazy', 'lazy dog', 'loudly',
       'mouse', 'mouse and', 'over', 'over the', 'quick', 'quick brown',
       'squeaks', 'squeaks loudly', 'the', 'the cat', 'the lazy',
       'the mouse', 'the quick'], dtype=object)

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(x_vect.toarray(), 
                 columns=cv.get_feature_names_out())
df

,and,and it,brown,brown fox,cat,cat chases,chases,chases the,dog,fox,...,over the,quick,quick brown,squeaks,squeaks loudly,the,the cat,the lazy,the mouse,the quick
0,0,0,1,1,0,0,0,0,1,1,...,1,1,1,0,0,2,0,1,0,1
1,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,2,1,0,1,0