In [1]:
sentence_1="The quick brown fox jumps over the lazy dog."
sentence_2="The cat chases the mouse and it squeaks loudly."

In [8]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [3]:
cv = CountVectorizer()

In [4]:
word_vector = cv.fit_transform([sentence_1, sentence_2])
tfidf_transformer=TfidfTransformer() 
x = tfidf_transformer.fit_transform(word_vector)

In [9]:
df = pd.DataFrame(x.toarray(), 
                  columns=cv.get_feature_names_out())

In [10]:
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the
0,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.473682
1,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.473682